<div class="center hero-unit">
	<h1>dbv2</h1>
	<h2>
	    Just an <a href="#">APP</a>
    </h2>
    <% if !signed_in? %>
		<%= link_to "< / >", signup_path, class: "btn btn-large btn-primary"%>
	<% else %>
		<p> You've signed in as '<%= current_user.name %>' <p>
	<% end %>
</div>
<%= render 'layouts/down_canvas'%>

